.bg-purple:hover {
    background-color: rgb(92, 51, 215);
}
.col-izq{
    flex: 50;
}
.col-der{
    flex: 50;
}
.login-comp{
    width: 55%;
}

/*RESPONSIVE*/
@media only screen and (max-width: 992px) {
    .login-comp{
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .login-comp{
        width: 75%;
    }
}
@media only screen and (max-width: 678px) {
    .col-izq{
        flex: 0;
    }
    .col-der{
        flex: 100;
    }
    .login-comp{
        width: 75%;
    }
    div .img-left {
        padding: 0 !important;
    }
}
@media only screen and (max-width: 576px) {
    .login-comp{
        width: 85%;
    }
}
