<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="" class="nav-link">
        <span class="link-text">socios 360º</span>
        <i class='bx bxs-chevrons-right'></i>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <i class='bx bxs-cat' ></i>
        <span class="link-text">Cats</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <i class='bx bxs-invader'></i>
        <span class="link-text">Aliens</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <i class='bx bxs-star'></i>
        <span class="link-text">Space</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="" class="nav-link">
        <i class='bx bxs-rocket'></i>
        <span class="link-text">Shuttle</span>
      </a>
    </li>

    <li class="user">
      <div class="nav-user">
        <a href="" class="nav-user-link">
          <i class='bx bxs-user'></i>
          <div class="nav-user-info">
            <span class="user-text">Fabricio</span>
            <span class="user-text role">Inversionista</span>
          </div>
        </a>
        <a href="" class="nav-user-link">
            <i class='bx bx-log-out' id="logOut"></i>
        </a>
      </div>
    </li>

  </ul>
</nav>