<div class="row">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-4 fw-400 text-themePrimary">Invierte en Socios360º</h1>
      <p class="lead">Encuentra propuestas de inversión de distintos tipos para que puedas hacer crecer tu dinero en tiempos razonables y con una buena rentabilidad.</p>
      <a class="btn bg-themePrimary text-white btn-lg" href="#" role="button" [routerLink]="['/main', 'investments']">¡Empieza a invertir!</a>
    </div>
  </div>
</div>

<hr class="my-4">

<div class="row mt-4">
  <div class="col">
    <h2>Novedades del mes</h2>
  </div>
</div>

<!--<div class="row" *ngIf="newInvOffers">
  <div class="slider" style="margin: auto;">
    <div *ngFor="let newInvOffer of newInvOffers" class="slide">
      <img [src]="newInvOffer.imageURL" [alt]="newInvOffer.investmentName" style="width: 100%;">
    </div>
  </div>
</div>-->

<div class="row mt-4" *ngIf="newInvOffers">
  <div *ngFor="let newInvOffer of newInvOffers" class="col-md mt-2">
    <!--<div>
      <img [src]="newInvOffer.imageURL" [alt]="newInvOffer.investmentName" class="rounded-top" style="width: 100%;">
      <div class="border rounded-bottom p-3">
        <h5 class="hover-link cursor-pointer">{{newInvOffer.investmentName}}</h5>
        <div class="text-themePrimary"><span class="fw-500">{{calculateFinancingPercentage(newInvOffer.currentFinancing, newInvOffer.financingTarget)}}% </span>financiado</div>
        <div class="fs-0_9rem text-muted">Por <a href="" class="no-decorations text-muted cursor-pointer">{{newInvOffer.userOwner.business!.businessTradeName}}</a></div>
      </div>
    </div>-->
    <div class="card w-100">
      <img [src]="newInvOffer.imageURL" [alt]="newInvOffer.investmentName" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{newInvOffer.investmentName}}</h5>
        <p class="card-text text-themePrimary"><span class="fw-500">{{calculateFinancingPercentage(newInvOffer.currentFinancing, newInvOffer.financingTarget)}}% </span>financiado</p>
        <p class="card-text fs-0_9rem text-muted">Por <a href="" class="no-decorations text-muted cursor-pointer">{{newInvOffer.userOwner.business!.businessTradeName}}</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h2>Oportunidad de inversión destacada</h2>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <img src="" alt="">
  </div>
  <div class="col-6">
    hola
  </div>
</div>